


$("#reply_container_id_<%=@comment.id%>")
.prepend(`
  <div class="offset-1">
    <%= j render partial:'comment_item', locals:{comment:@reply_comment, post: @post} %>
  </div>
`)

$(`#comment_content_<%=@comment.id%>`)
.next().next().next()
.toggleClass('d-none').toggleClass('d-block')
.children('textarea').val('') 

$("#count-number-comments").html("<%= @post.number_comments %> comments")
$("#comments_count_post").html("<%= @post.number_comments %>")
