<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3">
    <%= form.label :title, class:'mb-2' %>
    <%= form.text_field :title, class:'form-control title-create focus-box-none' %>
  </div>
  <div class="mb-5">
    <%= form.label :content, class:'mb-2' %>
    <%= form.rich_text_area :content, cols:4, class:'form-control focus-box-none rich_text_content' %>
  </div>
  <div class="mb-3">
    <%= form.submit class:'btn btn-primary py-2 fs-5' %>
  </div>
<% end %>
